.app.dark {
  --bg-color: #1a1a1a;
  --inverted-bg-color: #0a0c0a;

  --primary-color: #b6aaaa;
  --secondary-color: #e5dada;
  --inverted-primary-color: #1c1b1b;
  --inverted-secondary-color: #1f1d1d;
}