.app.light {
  --bg-color: #eff3f6;
  --inverted-bg-color: #c9b9b9;

  --primary-color: #1c1b1b;
  --secondary-color: #1f1d1d;
  --inverted-primary-color: #b6aaaa;
  --inverted-secondary-color: #e5dada;
}