.Navbar{
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 10px;
}

.links{
  margin-left: auto;
}

.main_link{
  margin-right: 10px;
}