.AppLink{
  color: var(--primary-color)
}

.primary{
  color: var(--primary-color)
}

.secondary{
  color: var(--inverted-primary-color)
}

.red{
  color: red;
  background: rgba(255, 255, 255, 0.29);
}